{% extends 'staff/staf_base.html' %}


{% block vertical-menu %}
    <a href="{% url 'infor' %}">Thông tin</a>
    <a href="{% url 'job' %}" class="active">Công Việc</a>
    <a href="#">Đánh Giá</a>
{% endblock %}

{% block staf-content %}
    {% if addr_page %}
        {% include addr_page %}
    {% else %}
        <p>Không xác định vai trò người dùng.</p>
    {% endif %}

    {% if addr_script %}
        {% load static %}
        <script src="{% static 'js/staff/common.js' %}"></script>
        <script src="{% static addr_script %}"></script>
    {% endif %}
{% endblock %}