<div>Công Cụ Tìm Kiếm</div>

<h2>Các Công Việc Cần Hoàn Thành</h2>
{% for pr, joins in staf_content.items %}
    <h3>{{pr}}:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Mã Nhân Viên</th>
            <th>Công Việc</th>
            <th>Thời Hạn</th>
            <th>Trạng Thái</th>
        </tr>
        {% for j in joins %}
        <tr>
            <td>{{ j.id }}</td>
            <td>{{ j.id_staf }}</td>
            <td>{{ j.id_job }}</td>
            <td>{{ j.dura }}</td>
            <td>{{ j.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}

<div>
    <label>ID:</label>
    <input type="text" id="id_join"><br>
    <label>id_staf:</label>
    <input type="text" id="id_staf"><br>
    <button onclick = "asignWork()">Giao Việc</button>
</div>

<div>
    <label>ID:</label>
    <input type="text" id="id_status"><br>
    <label>status:</label>
    <select id="status">
        <option value="cho_duyet">Chờ duyệt</option>
        <option value="dang_lam">Đang làm</option>
        <option value="hoan_thanh">Hoàn thành</option>
    </select><br>
    <button onclick = "asignWork()">Cập Nhập Trạng Thái</button>
</div>


<script>
function asignWork() {
    const id_1 = document.getElementById("id_join").value;
    const id_staf = document.getElementById("id_staf").value;

    fetch('/asignWork/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({role:'ld_it',id: id_1, id_staf: id_staf})
    })
    .then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Cập nhật thất bại');
        }
    });
}

function updateStatus(){
    const id = document.getElementById("id_status").value;
    const status = document.getElementById("status").value;

    fetch('/api/updateData/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({role:'ld_it',id: id, status: status})
    })
    .then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Cập nhật thất bại');
        }
    });
}
</script>